.titulo-favoritos {
    color: white;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.card-favorito {
    background-color: #e8b82e;
    color: white;
    border-radius: 20px;
    padding: 30px;
    margin: 25px auto;
    max-width: 900px;
    box-sizing: border-box;
}

.card-favorito h2 {
    text-align: center;
    margin-bottom: 25px;
}

.conteudo-favorito {
    display: flex;
    gap: 30px;
    align-items: stretch;
}

.editais-favorito {
    flex: 1;
}

.editais-favorito h3 {
    margin-top: 0;
}

.edital-favorito {
    display: block;
    background-color: rgba(255, 255, 255, 0.15);
    color: white;
    text-decoration: none;
    padding: 12px 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    transition: 0.2s;
}

.edital-favorito:hover {
    background-color: rgba(255, 255, 255, 0.30);
    color: white;
}

.calendario-favorito {
    width: 180px;
    min-height: 150px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.15);
    color: white;
    text-decoration: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    transition: 0.2s;
}

.calendario-favorito:hover {
    background-color: rgba(255, 255, 255, 0.30);
    color: white;
}

.icone-calendario {
    font-size: 45px;
    margin-bottom: 10px;
}

.sem-favoritos {
    background-color: #e8b82e;
    color: white;
    border-radius: 20px;
    padding: 40px;
    text-align: center;
    max-width: 700px;
    margin: 40px auto;
}
.bloco-vestibular {
    width: 50%;
    box-sizing: border-box;
    background: #d10360;
    padding: 50px;
    border-radius: 15px;
    position: relative;
    color: white;
    text-align: center;
}

.bloco-vestibular img {
    width: 100%;
    max-width: 550px;
    border-radius: 15px;
}

.form-favorito {
    position: absolute;
    top: 15px;
    right: 20px;
}

.botao-favorito {
    background: none;
    border: none;
    font-size: 35px;
    cursor: pointer;
    padding: 0;
    transition: transform 0.2s;
}

.botao-favorito:hover {
    transform: scale(1.2);
}
.botao-favorito {
    background: none;
    border: none;
    font-size: 42px;
    cursor: pointer;
    padding: 0;
    color: rgb(255, 230, 0);
    transition: transform 0.2s, color 0.2s;
}

.botao-favorito:hover {
    transform: scale(1.2);
}

.botao-favorito.favoritado {
    color: #ffe600;
}
.mensagem-favorito {
    width: fit-content;
    margin: 20px auto;
    padding: 12px 25px;
    border-radius: 12px;
    background-color: #e8b82e;
    color: white;
    font-weight: bold;
    text-align: center;
}